html, body {
  witdh: 100%;
  height: 100%;
}

.table {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}

.cell {
  display: table-cell;
  vertical-align: middle;
}

.image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.kacke {
  transform: translateY(-110%);
  transition-duration: 1s;
  transition-delay: 1s;
}
