html, body {
  overflow: hidden;
  margin: 0;
}

.preload {
  background-repeat: no-repeat;
  background-position: -1000% -1000%;
}

.image {
  background-repeat: no-repeat;
  background-position: center center;
  transition-duration: 1s;
}

#olli {
  background-image: url('olli.png');
  width: 693px;
  height: 809px;
}

#arm {
  background-image: url('arm.png');
  width: 187px;
  height: 381px;
  position: absolute;
  top: 210px;
  left: 480px;
}

#arm.move {
  transform: rotate(110deg);
  top: 80px;
  left: 340px;
}

#crapple {
  transform: rotate(0deg) scale(0.5);
  transition-duration: 0s;
  width: 220px;
  height: 271px;
  position: absolute;
  top: 210px;
  left: -56px;
}

#crapple.crapple-0 {
  background-image: url('crapple-normal.png');
}

#crapple.crapple-1 {
  background-image: url('crapple-doppelt.png');
}
