html, body {
  overflow: hidden;
  margin: 0;
}

.image {
  background-repeat: no-repeat;
  background-position: center center;
  transition-duration: 1s;
}

#olli {
  background-image: url('olli.png');
  width: 693px;
  height: 809px;
}

#arm {
  background-image: url('arm.png');
  width: 187px;
  height: 381px;
  position: absolute;
  top: 210px;
  left: 480px;
}

#arm.move {
  transform: rotate(120deg);
  top: 60px;
  left: 340px;
}
